*
{
	padding: 0;
	margin: 0;
}

body
{
	background-color: #D2D2D2;
	font-family: 'Bree Serif', serif;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-gap: 10px;
	grid-template-areas: '. header .'
						 '. main .'
						 '. footer .';
}

header
{
	position: relative;
	grid-area: header;
	background-color: white;
	padding: 15px;
	padding-top: 0;
	border-radius: 0 0 30px 30px;
}

nav
{
	display: flex;
	justify-content: flex-end;
}

header ul
{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

header li
{
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	padding: 0;
}

header ul li a
{
	display: block;
	padding: 8px;
	background-color: #D2D2D2;
	border-radius: 10px;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	transition: .2s;
}

header ul li a:hover
{
	display: block;
	padding: 8px;
	background-color: grey;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
}


main
{
	grid-area: main;
	margin-top: 15%;
	padding: 3%;
	border-radius: 30px;
	text-align: center;
	background-color: white;
	font-size: 1.6em;
}

.respon
{
	font-size: .75em;
}

footer
{
	grid-area: footer;
	margin-top: 20%;
	text-align: center;
	font-size: 1.15em;
}